@media only screen and (max-width: 600px) {

    .footer{
    margin: 0px;
    margin-top: 20px;
    padding: 0px 0px 0px 0px;
    border-top: 1px solid red;
    text-align: center;
    }

    .iconsTwo p {
    display: inline;}

    .iconsTwo {
    display: inline;

    font-size: 18px;
    }

}