/* *{
    outline: 1px solid white;
} */

body {
    background-color: black;
    color: white;
}

.container{
    display: grid;

    grid-auto-rows: minmax(200px, auto);
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 
                           1fr 1fr 1fr 1fr 1fr 1fr;
}







/* #header {
    margin: 0;
    background-color: #01a5a6;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 
                           1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: minmax(200px, auto);
}

.mainlogo {
    grid-column: 2/3;
    grid-row: 1/2;
} */