    /* *{
    outline: 1px solid white;
} */

/* .aboutme{

    display: grid;
    border: 1px solid white;

    grid-auto-rows: minmax(200px, auto);
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 
                           1fr 1fr 1fr 1fr 1fr 1fr;
} */