@media only screen and (max-width: 600px) {

.skills{
    /* margin: 0 auto; */
    /* box-sizing: border-box; */
    padding: 10px;
    background-color: #FD5E0A;
    border-radius: 50px;

    font-size: 14px;
}

.skills h1{
    font-size: 21px;
    color: black;
    text-align: center;
}

.skills h2{
    font-size: 16px;
    color: black;
}

.skills ul{
    padding: 0px;
}

.skills li{
    font-size: 14px;
    list-style: none;
}

#education{
    /* margin: auto; */
    /* box-sizing: border-box; */
    /* padding: 50px; */
    max-height: 130px;
    grid-column: 1/4;
    grid-row: 1/2;
}

#course{
    /* margin: auto; */
    /* box-sizing: border-box; */

    max-height: 220px;
    grid-column: 1/4;
    grid-row: 2/3;
}

#skillsbubble{
    /* margin: auto; */

    max-height: 500px;
    grid-column: 1/4;
    grid-row: 3/4;
}

#skillstechnical{
    margin: 0;
    /* width: 50%; */
}

#skillstechnical ul{
    margin: auto;    

    display: grid;
    grid-template-columns: auto auto;
    gap: 5px;
}

#skillsbubble li{
    margin: 0px;
    padding: 5px;
    text-align: center;
    font-size: 13px;
    list-style: none;
    border-radius: 50px;
    background-color: black;
}

#languages_drivinglicence{
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: auto auto;
}

#languages_drivinglicence h1{
    font-size: 20px;
}

#drivinglicence li{
    margin: auto;
    max-width: 20px;
    border-radius: 50%;
}

}